.navbar-main {
  margin: 10px 0;
}
.navbar-main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-main .container ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar-main .container ul li a {
  margin-left: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
.navbar-main .container .uzbgaz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-main .container .uzbgaz a {
  margin-left: 10px;
}
.navbar-main .container .uzbgaz a img {
  width: 110px;
  object-fit: contain;
}
.navbar-main .container .uzbgaz #cars {
  border-radius: 20px;
  margin-left: 15px;
  background-color: #F0F0F0;
}
.navbar-main .container .uzbgaz span a img {
  width: 22px;
  object-fit: contain;
}

.navbar-bottom {
  margin-bottom: 5px;
}
.navbar-bottom .navbar-bottom-child {
  overflow: hidden;
  height: 40px;
  background-color: #F0F0F0;
  display: flex;
}
.navbar-bottom .navbar-bottom-child ul {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
.navbar-bottom .navbar-bottom-child ul li {
  display: flex;
  align-items: center;
}
.navbar-bottom .navbar-bottom-child ul li:nth-child(1) {
  padding-left: 120px;
}
.navbar-bottom .navbar-bottom-child ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #585858;
  transition: all 0.3s ease;
  font-weight: 400;
  line-height: 40px;
  margin-left: 0;
}
.navbar-bottom .navbar-bottom-child ul li .vertikal {
  width: 1px;
  height: 12px;
  display: flex;
  align-items: center;
  margin: 0 8px;
  background-color: #585858;
}
.navbar-bottom .boxed-left {
  height: 40px;
  width: 80px;
  background-color: #17206a;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 3;
}
.navbar-bottom .boxed-left-child {
  height: 40px;
  width: 40px;
  background-color: #17206a;
  transform: rotate(-42deg);
  position: absolute;
  left: 51px;
  z-index: 2;
}

.header .container .row .col-md-9 .header-news .header-news-child a {
  text-decoration: none;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 {
  margin: 10px 0 10px 0;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-left {
  width: 100%;
  padding: 0 0 50px 0;
  box-sizing: border-box;
  height: 100%;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right {
  padding: 0 0 20px 0;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right:hover h4 {
  color: #0D1B8C;
  transition: 0.8s;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right .top-right-text {
  color: #8F8F8F;
  font-weight: 300;
  margin: 12px 0 12px 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right .top-right-text img {
  margin-right: 7px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right h4 {
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  font-weight: bold;
  transition: 0.8s;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .header-news-child-right p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
  display: block;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .left-news-images {
  width: 217px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .left-news-images img {
  width: 145px;
  height: 103px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .top-news-box {
  margin-left: 15px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .top-news-box:hover h4 {
  color: #0D1B8C;
  transition: 0.8s;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .top-news-box img {
  margin-right: 7px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .top-news-box .top-right-text {
  color: #8F8F8F;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .col-md-6 .top-news-box h4 {
  font-size: 14px;
  color: black;
  font-weight: 700;
  line-height: 20px;
  height: 100px;
  transition: 0.8s;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row .line {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #17206A;
  margin-left: 15px;
  margin-right: 10px;
  font-size: 15px;
}
.header .container .row .col-md-9 .header-news .header-news-child a .row h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  color: black;
}
.header .container .row .col-md-3 {
  background-color: white;
}
.header .container .row .col-md-3 .header-right-news .line {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #17206A;
  margin-right: 7px;
}
.header .container .row .col-md-3 .header-right-news h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.header .container .row .col-md-3 .header-right-news h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.header .container .row .col-md-3 .header-right-news .top-right-text {
  color: #8F8F8F;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.header .container .row .col-md-3 .header-right-news .top-right-text img {
  margin-right: 10px;
}
.header .container .row .col-md-3 .main-btn-v2 {
  height: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  background-color: #f0f0f0;
  border-left: 2px solid #2246C5;
  margin-top: 40px;
}
.header .container .row .col-md-3 .main-btn-v2 a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-around;
  padding-left: 25px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 20px;
}
.header .container .row .col-md-3 .main-btn-v2 a img {
  object-fit: none;
}

.current-news .container .row .col-md-6 .big-news {
  position: relative;
}
.current-news .container .row .col-md-6 .big-news .box {
  position: absolute;
  background-color: #17206A;
  display: flex;
  align-items: center;
  top: 280px;
}
.current-news .container .row .col-md-6 .big-news .box span {
  padding: 6px 16px;
  color: white;
  font-size: 10px;
}
.current-news .container .row .col-md-6 .big-news img {
  width: 100%;
}
.current-news .container .row .col-md-6 .big-news h4 {
  font-size: 19px;
}
.current-news .container .row .col-md-6 .big-news p {
  font-size: 13px;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news {
  position: relative;
  margin-bottom: 25px;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news .box-images {
  width: 100%;
  height: 143px;
  margin-bottom: 12px;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news .box-images img {
  width: 100%;
  height: 100%;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news h4 {
  font-size: 15px;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news .box {
  position: absolute;
  background-color: #17206A;
  display: flex;
  align-items: center;
  top: 116px;
}
.current-news .container .row .col-md-6 .row .col-md-6 .news .box span {
  padding: 6px 16px;
  color: white;
  font-size: 10px;
}

.interview {
  background-color: #F0F0F0;
  padding-top: 25px;
  padding-bottom: 30px;
}
.interview .container .block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.interview .container .block-title .line {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #17206A;
  margin-right: 7px;
}
.interview .container .block-title h4 {
  font-size: 15px;
  margin: 0;
}
.interview .container .block-title a {
  font-size: 13px;
  font-weight: 600;
  color: #1729be;
  text-decoration: none;
}
.interview .container .block-title a:hover img {
  transform: translateX(10px);
  transition: 0.7s;
}
.interview .container .block-title a img {
  margin-left: 10px;
  transition: 0.7s;
}
.interview .container .row .col-md-3 .interview-post {
  background-color: white;
  position: relative;
  height: 290px;
}
.interview .container .row .col-md-3 .interview-post:hover h4 {
  color: #003BB3;
  transition: 0.8s;
}
.interview .container .row .col-md-3 .interview-post .post-thumbnail {
  position: absolute;
  width: 230px;
  height: 154px;
  right: 40px;
  top: -20px;
  bottom: 142px;
  z-index: 2;
}
.interview .container .row .col-md-3 .interview-post .post-thumbnail img {
  width: 100%;
  height: 100%;
}
.interview .container .row .col-md-3 .interview-post .thumbnail {
  position: absolute;
  width: 230px;
  height: 157px;
  background-color: #0D1B8C;
  left: -7px;
  top: -15px;
}
.interview .container .row .col-md-3 .interview-post span {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 28px;
  color: #E3E3E3;
  font-weight: 700;
  right: -56px;
  height: 35px;
  width: 160px;
  top: 50px;
}
.interview .container .row .col-md-3 .interview-post h4 {
  font-size: 15px;
  padding: 160px 20px 20px 20px;
  transition: 0.8s;
}

.Inquiry .container {
  margin-bottom: 20px;
}
.Inquiry .container h4 {
  font-size: 15px;
  margin: 0;
}
.Inquiry .container .line {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #17206A;
  margin-right: 7px;
}
.Inquiry .container .row .col-md-6 .Inquiry-right {
  display: flex;
}
.Inquiry .container .row .col-md-6 .Inquiry-right:hover h4 {
  color: darkblue;
  transition: 0.8s;
}
.Inquiry .container .row .col-md-6 .Inquiry-right .Inquiry-images {
  width: 170px;
  height: 110px;
  margin-bottom: 10px;
}
.Inquiry .container .row .col-md-6 .Inquiry-right .Inquiry-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Inquiry .container .row .col-md-6 .Inquiry-right h4 {
  width: calc(100% - 170px);
  padding: 8px 20px 0 20px;
  font-size: 18px;
  transition: 0.8s;
}
.Inquiry .container .row .col-md-6 .Inquiry-left {
  background-color: #F0F0F0;
}
.Inquiry .container .row .col-md-6 .Inquiry-left:hover h4 {
  color: darkblue;
  transition: 0.8s;
}
.Inquiry .container .row .col-md-6 .Inquiry-left .border-aa {
  background-color: white;
  margin-right: 30px;
}
.Inquiry .container .row .col-md-6 .Inquiry-left .border-aa img {
  width: 100%;
  padding: 0 20px 20px 0;
}
.Inquiry .container .row .col-md-6 .Inquiry-left h4 {
  font-size: 18px;
  padding: 25px;
  color: #000;
  font-weight: 700;
  transition: 0.8s;
  line-height: 23px;
  margin-bottom: 0;
}

.article .container .line {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #17206A;
  margin-right: 7px;
}
.article .container h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}
.article .container .row .col-md-4 {
  position: relative;
}
.article .container .row .col-md-4:hover h4 {
  color: #003BB3;
  transition: 0.7s;
}
.article .container .row .col-md-4 .card-article {
  margin-top: 25px;
}
.article .container .row .col-md-4 .card-article h4 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  height: 57px;
  transition: 0.7s;
}
.article .container .row .col-md-4 .card-article p {
  font-size: 13px;
}
.article .container .row .col-md-4 .card-article img {
  width: 100%;
  height: 200px;
}
.article .container .row .col-md-4 .box {
  position: absolute;
  background-color: #17206A;
  display: flex;
  align-items: center;
  top: 44%;
}
.article .container .row .col-md-4 .box span {
  padding: 6px 16px;
  color: white;
  font-size: 10px;
}

.main-carousel {
  background-color: #F0F0F0;
  padding: 35px 0;
}
.main-carousel .container .col-md-3 {
  width: 100%;
}
.main-carousel .container .col-md-3 .boxed-carousel img {
  width: 100%;
}

.video-news .container .row .col-md-6 .video-news-child {
  overflow: hidden;
  width: 100%;
  height: 361px;
}
.video-news .container .row .col-md-6 .video-news-child:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}
.video-news .container .row .col-md-6 .video-news-child img {
  width: 100%;
  transition: 1.5s;
  height: 100%;
  object-fit: cover;
}
.video-news .container .row .col-md-6 .play {
  position: absolute;
  top: 36%;
  left: 43%;
}
.video-news .container .row .col-md-6 .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 15;
  color: #fff;
  font-family: "DINPro";
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -0.2px;
  padding: 20px 30px;
  display: block;
  line-height: 29px;
}
.video-news .container .row .col-md-3 {
  margin-top: 20px;
  position: relative;
}
.video-news .container .row .col-md-3 .img {
  width: 100%;
}
.video-news .container .row .col-md-3 .img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: 1.5s;
}
.video-news .container .row .col-md-3 .img a img {
  position: absolute;
  left: 40%;
  top: 19%;
  z-index: 4;
  width: 50px;
  height: 50px;
}
.video-news .container .row .col-md-3 .img a img:hover {
  transform: scale(1.4);
  transition: 1.5s;
}
.video-news .container .row .col-md-3 .img p {
  font-size: 12px;
}
.video-news .container .row .col-md-3 .img a {
  text-decoration: none;
  font-size: 13px;
}
.video-news .container .row .col-md-3 .img h4 {
  font-size: 15px;
  color: black;
}

.footer-pages {
  margin-top: 40px;
  background-image: url("../../images/footerpages.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: end;
  padding: 0;
  align-items: center;
}
.footer-pages .footer-pages-child {
  display: flex;
  width: 84%;
}
.footer-pages .footer-pages-child .pages-logo {
  width: 181px;
  height: 62px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.footer-pages .footer-pages-child .b-text .title {
  font-size: 24px;
  line-height: 30px;
  color: #1C307A;
  margin-bottom: 5px;
}
.footer-pages .footer-pages-child .store-btns {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.kun-footer {
  background-color: #1C2680;
}
.kun-footer .container .footer-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.kun-footer .container .footer-top ul {
  display: flex;
  padding: 15px 0 20px;
  justify-content: space-between;
  margin: 0;
}
.kun-footer .container .footer-top ul li {
  margin-right: 50px;
}
.kun-footer .container .footer-top ul li::marker {
  color: transparent;
}
.kun-footer .container .footer-top ul li a {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.footer-bottom {
  background-color: #17206a;
  padding: 25px 0;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .footer-text {
  font-size: 13px;
  padding-right: 30px;
  max-width: 1000px;
  line-height: 18px;
  color: white;
}
.footer-bottom .container .footer-images {
  display: flex;
}
.footer-bottom .container .footer-images a {
  margin-left: 10px;
  padding: 7px;
}
.footer-bottom .container .footer-images a img {
  height: 18px;
  max-width: 28px;
  object-fit: contain;
  transition: all 0.2s ease-in;
}
.footer-bottom .container .footer-images a img:hover {
  transform: translateY(-7px);
}

/*# sourceMappingURL=main.css.map */
